            <header class="p-3 mb-3 b-bottom newbtop">
                <div class="container ">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        
        
                        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                            <li>
                                <h2>LOGO</h2>
                            </li>
                        </ul>
        
                        <div for="username" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                            Vaibhav Nichat
                        </div>
        
                        <div class="dropdown text-end">
                            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img src="assets/images/img_avatar.png"  width="35" height="35" class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu text-small">
                                <li><a class="dropdown-item" href="#"><i class="bi bi-person"></i>Your Profile</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-sticky"></i>Your Notes</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-person"></i>Your subscription</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-mortarboard"></i>Your Certificates</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-person"></i>Your Account</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-box-arrow-right"></i>Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <div class="container main-body">
                <div class="row">
                    <section class="col">
                        <div class="card mb-2 bg-white shadow-sm rounded  mb-3">
                            <div class="card-body rounded b-top">
                                <h2 class="card-title">Rapid Reporting</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card mb-2 bg-white shadow-sm rounded">
                                    <div class="card-body rounded b-top">
                                        <div class="row">
                                            <div class="col-md-1">
                                            <div class="btn btn-light">Packets</div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="btn btn-light">Practice</div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="btn btn-light">Performance</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 mt-3"><h6>EXAM PACKETS</h6></div>
                                    </div>
                                   
                                    <table class="table mt-3">
                                        <thead class="bg-secondary text-white">
                                          <tr>
                                            <th >Packets</th>
                                            <th >Best Score</th>
                                            <th >All Users Average</th>
                                            <th >All Users Best Score</th>
                                            <th >Complete</th>
                                            <th >Status</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td><a href="timer.html">Packet 80</a></td>
                                            <td>4 / 30</td>
                                            <td>24 / 30</td>
                                            <td>30 / 30</td>
                                            <td> <i class="bi bi-check-lg"></i></td>
                                            <td><i class="bi bi-sticky"></i> <i class="bi bi-graph-up-arrow" style="color: red;"></i></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                   
                                </div>
                            </div>
                        </div>
                        </div>
                    </section>
                </div>
            </div><br><br><br><br><br><br>
            
            <footer class="mt-2 py-2 b-top">
                <div class="container">
                    <p class="text-center"><span class="text-muted">company name 2022</span></p>
                </div>
            </footer>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
                crossorigin="anonymous"></script>
        