        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Radiology</a>
                <i class="fa-solid fa-circle-user h2"></i>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-12 border-top border-primary p-2 mt-4 bg-light">
                    <h3>Rapid Reporting</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 border-top border-primary p-2 mt-4">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Packets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Practice</a> 
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Performance</a> 
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="row mt-4 mb-4">
                <h5>EXAM PACKETS</h5>
            </div>
            <div class="row bg-dark text-light">
                <div class="col-md-2">
                    <a>Packets</a>
                </div>
                <div class="col-md-2">
                    <p>Packets</p>
                </div>
                <div class="col-md-2">
                    <p>Packets</p>
                </div>
                <div class="col-md-2">
                    <p>Packets</p>
                </div>
                <div class="col-md-2">
                    <p>complete</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <a href="/loading">Packets 30</a>
                </div>
                <div class="col-md-2">
                    <p>3/30</p>
                </div>
                <div class="col-md-2">
                    <p>24/30</p>
                </div>
                <div class="col-md-2">
                    <p>30/30</p>
                </div>
                <div class="col-md-2">
                    <p></p>
                </div>
            </div>
        </div>
    